# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage
.pytest_cache/
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
